@use '../global/variables' as v;

.bg{
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.ub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}


.miFoto{
    clip-path: circle(45% at 50% 50%);
    max-width: 60%;
}

.infoBase{
    color: #bfbfbf;
    text-shadow: 2px 1px 1px #d1564d;
    padding:2rem;
}

@media only screen and (min-width:1000px){
    
    .ub{
        flex-direction: row;
        overflow: hidden;
    }
    
    .miFoto{
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        overflow: hidden;
        img{
            max-height: 99vh;
        }
    }

    .infoBase{
        padding: 2rem 0;
    }

}

.btn__Contact{
    background-color: #46dbb3;
    color:#fff;
    display:block;
    text-align: center;
    text-shadow: none;
    font-weight: 600;
}

