@use '../global/variables' as v;
@use '../global/mixing' as m;


.projectData{
    max-width: 300px;
    padding:.5rem;
    border: 2px solid v.$blanco;
    position: relative;
    overflow: hidden;

    &::after{
        content: '';
        background-color: #d1564da8;
        box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.46);
        display: block;
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        width: 150%;
        height: 100%;
        z-index: 1;
        position: absolute;
        left: -440px;
        top:0px;
        transition:all .4s ease-in;
    };
    &:hover::after{
        left: 0px;
        box-shadow: 4px 5px 5px -1px rgba(207,187,4,1);
    }

}


