@use '../global/variables' as v;
@use '../global/mixing' as m;

.upperBar{
    color:v.$blanco;
    padding:v.$spaced;
    background-color: #4b4b4b;
}

.bar{
    @include m.pantalla(1000px){
        @include m.flex(row, space-between, center)
        
    }
}

.menu{
    text-align: center;
    @include m.pantalla(700px){
        @include m.flex(row, center, center);
        margin:0 auto;
    }
    .menuBtn{
        color:v.$blanco;
        display: block;
        padding:.5rem 1rem;
        font-family: v.$fontText;
    }
    
}

.uppLeft{ 
    @include m.flex{
        gap:1rem
    };

    p{
        @include m.textShadow;
    }

    .upperBar__foto{
        max-width: 50px;
        clip-path: circle(45% at 50% 50%);
    }
}

.uppRight{
    padding:1rem 0;
    @include m.flex{
        gap: 1rem;
    }
    
    .icon{
        color:v.$blanco;
        font-size: 3rem;
        transition: all .4s ease;
    }

}

.icon{
    & :hover{
        transform: scale(1.05);
        color:v.$salmon;
    }
    
}