@use './variables' as v;

html{
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: v.$negro;
}


*,
*:after, 
*:before{
    box-sizing: inherit;
}

.contenedor{
    width:1200px;
    margin: 0 auto;
    max-width: 95%;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
}

.btn{
    margin:2rem 0;
    padding: 1rem;
    font-family: v.$fontText;

}

h1, h2, h3, h4{
    margin: 0;
    font-family: v.$fontTitle;

}

h1{
    font-size:4rem;
}

h2{
    font-size: 3.8rem;
    text-transform: capitalize;
    align-items: center;
    font-weight: 300;
    text-align: center;
    color:v.$blanco;
}

p{
    margin: 0;
    font-size: 1.6rem;
    font-family: v.$fontText;
}

