html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after, 
*:before{
    box-sizing: inherit;
}

.contenedor{
    width:1200px;
    margin: 0 auto;
    max-width: 95%;
}

img{
    max-width: 100%;
}