@use './variables' as v;

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after, 
*:before{
    box-sizing: inherit;
}

.contenedor{
    width:1000px;
    margin: 0 auto;
    max-width: 95%;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.btn{
    margin:1rem 0;
    padding: 1rem;

}

h1{
    margin: 0;
}

p{
    margin: 0;
    font-size: 1.6rem;
    font-family: v.$fontText;
}